@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.auth-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f5f6fa;
}

.auth-card{
  background:white;
  padding:30px;
  width:350px;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.auth-card input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:1px solid #ddd;
  border-radius:5px;
}

.auth-card button{
  width:100%;
  padding:10px;
  margin-top:10px;
  background:#4f46e5;
  color:white;
  border:none;
  border-radius:5px;
}

.loader{
  border:4px solid #f3f3f3;
  border-top:4px solid #4f46e5;
  border-radius:50%;
  width:18px;
  height:18px;
  animation:spin 1s linear infinite;
  margin:auto;
}

@keyframes spin{
  100%{transform:rotate(360deg);}
}